* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#FFE4CA;
}

.container {
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 35px;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-align: left;
    text-align: start;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover {
    background-color: rgb(0, 123, 255)
}


.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 48%;
    
}

.caixa {
    text-align: left;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px; 
    font-size: 26px;
    padding: 15px 0;
}

.escola-imagem {
    width: 21%
}

.escola {
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-titulo {
    font-size: 30px;
    font-style: italic;
}

.escola--texto-um {
    font-size: 25px;
}

.escola-texto-dois {
    font-size: 25px;
}

.sobre-nos {
    text-align: center;
    padding: 50px 0;
    font-size: 250%;
 } 

 .sobre-a-escola {
    text-align: center;
    font-size: 160%;
}

.dois {
    text-align: center;
    padding: 20px 0;
    font-size: 160%;
}

.imagem-div {
    text-align: center;
}

.atividades {
    text-align: center;
     padding: 50px 0;
     font-size: 35px;
}

.assunto {
    text-align: center;
     padding: 50px 0;
     font-size: 25px;
}

.extracurricular {
    width: 0%;
    border-radius: 10px;
}

.container {
    width: 100%;
    border-radius: 10px;
}

.imagem-aula {
    width: 100%;
    border-radius: 10px;
}

.texto-biblioteca p {
    font-size: 400%;
    font-style: italic;
}

