* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#FFE4CA;
}

.container {
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 35px;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-align: left;
    text-align: start;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover {
    background-color: rgb(0, 123, 255)
}


.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 48%;
    
}

.caixa {
    text-align: left;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px; 
    font-size: 26px;
    padding: 15px 0;
}

.escola-imagem {
    width: 21%
}

.escola {
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-titulo {
    font-size: 30px;
    font-style: italic;
}

.biblioteca {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 20px;
}

.imagem-biblioteca {
    width: 100%;
}

.livros {
    width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 20px 0;
}

.container-um {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.texto-biblioteca {
    padding-left: 20px 0;
}

.texto {
    text-align: center;
}

.sobre {
    text-align: center;
    font-size: 110%;
    padding: 20px 0;
    font-style: italic;
}

.sobre-um {
    text-align: center;
}

.projetos {
    text-align: center;
    padding: 30px 0;
}

.toldo {
    width: 300px;
    border-radius: 10px;
}

.container-dois {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.sobre-toldo {
    padding-left: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

footer {
    background-image: linear-gradient(#424E61, #4EBFE9);
    background-color: #3d267e;
    padding: 10px 0;
    text-align: center;
}

.rodape{
    width: 7%;
}

.rodape-dois {
    color:bisque;
    font-size: 12px;
}

.sobre .container-tres {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-sobre {
    width: 50%;
    padding-right: 40px;
}

.text-sobre p {
    margin: 18px 0;
    color: #000000a6
}

.sobre-img {
    width: 50%;
}

.sobre-img img {
    width: 100%;
    border-radius: 10px;
}

.sala {
    width: 300px;
    border-radius: 10px;
}

.container-cinco {
    display: flex;
    align-items: center;
}

.sobre-sala {
    padding-left: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}
